.container {
  width: 50rem;
  height: 38rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}

.glass {
  margin-top: 4.375rem;
  /* margin-left: 90px; */
  padding: 1.563rem;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 0.625;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1;
}

.drop-1 {
  height: 100px;
  width: 100px;
  top: -30px;
  left: -40px;
  /* z-index: -1; */
}
.drop-2 {
  height: 150px;
  width: 150px;
  bottom: -50px;
  left: -50px;
  /* z-index: -1; */
}
.drop-3 {
  height: 200px;
  width: 200px;
  bottom: -50px;
  right: -100px;
  z-index: 0;
}
.drop-4 {
  height: 120px;
  width: 120px;
  top: -40px;
  right: 10px;
  z-index: 2;
}

h1{
  margin-bottom: 15px;
  color: white;
  text-decoration: none !important;
  /* text-transform: uppercase; */
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

.divtemperature{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.temp{
  font-size: 150px;
  text-align: center;
  font-weight: 500;
  line-height: 230px;
  color: white;
  /* color: black; */
  font-family: "Roboto", sans-serif;
 
}

/* #temperature h4 {
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  
} */

#temperature p {
  text-align: left;
  font-size: 150px;
}

#temperature p {
  font-size: 300px;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 0;
  text-align: left;  
  font-weight: 500;
  line-height: 230px;

}

.grad {
  vertical-align: baseline;
  position: relative;
  top: -75px;
  line-height: 0;
  font-size: 40px;
  font-weight: 400;    
}

#temperature h5 {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 300;

}

.clima{
  margin-top: -50px;
  font-size: 30px;
  /* text-align: center; */
  align-items: center;
  font-weight: 500;
  vertical-align: middle;
  color: white;
  /* color: black; */
  font-family: "Roboto", sans-serif;

}

.info{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.3rem;
  color: white;
}

