<body>
    <div class="container">
        <div class="glassmorphism">
            <div class="weather-box">
                <h1>21<sup>o</sup></h1>
                <p>Well,<br>it's pretty decent</p>
                <div class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>Hyderabad, India</span>
                </div>
            </div>
            <div class="drops">
                <div class="glass drop-1"></div>
                <div class="glass drop-2"></div>
                <div class="glass drop-3"></div>
                <div class="glass drop-4"></div>
            </div>
        </div>
    </div>
</body>